
.chart-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.chart{
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    padding: 2rem;
    background-color: var(--card-background);
   
}
.left-chart{
    width: 65%;
    display: flex;
    align-items: start;
    flex-direction: column;
    overflow:auto;
}
.right-chart{
    width: 30%;
}

/* media query------------- */

@media only screen and (max-width:1024px){

    .chart-wrapper{
        flex-direction:column;
        flex-wrap:wrap;
    }
    .chart{
        width:100%
    }
}

@media only screen and (max-width:412px){
    .left-chart .line{
        width:100%;
    }
    .chart{
        height:400px;
        object-fit:contain;
    }
}