
.chart-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 2rem;
   
}
.chart{
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    padding: 2rem;
   
}