.my-card{
    box-shadow: var(--shadow);
    min-width: 400px;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    margin: 1.5rem;
    border-radius: 0.5rem;
}
.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
   
}
.ant-card-head-title{
    margin: 0rem !important;
    font-weight: 600;
}