.nav-bar{
    background-color: var(--theme);
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
}
.logo{
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.link{
    cursor: pointer;
    opacity: 0.8;
}

.link:hover{
    opacity: 1;
    transition: 0.3s ease;
}
.photo-logout{
    display: flex;
    gap: 16px;
    justify-content: center;
    /* padding: 0.5rem; */
}
.photo-logout img{
    width: 35px;
    height: 35px;
    border-radius: 20px;
}
.photo-logout p{
    margin-top: 3px;
}
.logo-image{
    width: 3rem;
    height: 3rem;
    background-color: var(--theme);
    border-radius: 100%;

}