 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish&display=swap');
:root{
  --theme:#2978ff;
  --black:#000;
  --white:#fff;
  --shadow:0px 0px 30px 8px rgba(227,227,227,0.75);
  --linear:linear-gradient(90deg, #dec880, #fff 27%, #ff3980 57%, #827ded);


}
body{
  margin: 0;
  
  font-family: 'Montserrat', sans-serif;
  
}
input{
  font-family: 'Montserrat', sans-serif;
} 

.custom-input{
  border: none;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0rem;
  width: 100%;
  border-radius: 0;
}
.custom-input{
  margin-top: -1rem !important;
 
}

.custom-input::placeholder{
  color: rgba(0,0,0,0.5);
}
.custom-input:focus{
  outline: none;
  opacity: 1;
  transition: all 0.3s;
}
.select{
  padding: 2px;
}
.search-div{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.input-flex,.select-type{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}

.input-flex{
  width: 100%;
  padding: 0.5rem;
  border: 0;
}
.input-flex input{
  outline: none;
  border: none;
}
.select-type{
  width: 30%;
  outline: none;
  padding: 0.25rem 0.5rem;

}
.select-type>div{
  border: 0px solid white !important;
}
.select-type:focus{
  outline: none;
}
.major-div{
  padding: 0rem 2rem;
}
.table-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;
  width:100%;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  margin-bottom: 50px;
}
.radio-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.table{
  width: 100%;
}
.btn-div{
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
.x{
  white-space: pre;

}
/* lading page---------------------------------- */
.landing-div{
  background-color:black;
  color: white;  
}
.hero-section{
  text-align: center;
}

.landing-title{
  font-size: 71px;
  font-weight: 600;
  padding-top: 10px;
  padding: 0px 50px;
  text-align: center;
 /* background-image: var(--linear); */
}
.text-content{
  color: #9f9f9f;
  padding: 10px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 600;
  /* padding: 0px 80px; */
  
  /* text-align: left; */
}
.text{
  padding: 0px 80px;
}
.financely{
  background-image: var(--linear);
  color: transparent;
  -webkit-background-clip: text;
}
.buy-btn{
  display: flex;
  gap: 20px;
  padding: 5px;
  margin:auto;
  align-items: center;
  justify-content: center;

}
.buy-btn1,.buy-btn2{
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
.buy-btn1{
  background-color: #FFFFFF;
}

.buy-btn1:hover,.buy-btn2:hover{
  opacity: 0.9;
}
.buy-btn2{
  background-color: black;
 border-image: var(--linear);
 border: solid 1px;
  color: white;
  border-image-slice: 1;
 
}
.major-image{
  padding: 50px 50px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;

}
.major-image img{
  width: 70%;
  border-radius: 10px;
}
.first-image{
  position: relative;
}
.second-image{
  width: 400px;
  position: absolute;
  height: 300px;
  top: 0; 
  left: 0; 
  z-index: 2;
  margin-left: 60px;
}
._100width{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.product-div{
  display: flex;
  flex-direction: column;
}
.product-div-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  flex-wrap: wrap;
}
.product-div-1 div{
  padding: 15px;
}
.text-content-2{
  font-size: 45px;
  color: white;
  font-weight: 700;
}
.ul-list li{
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
}
.split-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.split-content{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 80px;
  text-align: start;
  gap: 30px;

}
.split-2{
  position: relative;
}
.split-2 img{
  width: 550px;
}


.grey-div{
  background-color: #17171A;
  padding: 70px;
}
.feature-image{
  border-radius: 10px;
}
/* -------- */
.powerfull-div{
  text-align: start;
  width: 60%;
  margin-left: 70px;
}
.power-div{

  padding: 80px;
}
.my-card-2{
  background-color: #17171A;
  border: none;
  color: white;
  transition:all 0.6s ease;
  height: 28%;
  overflow: hidden;

}
.full-app-image{
  object-fit: cover;
  width: 100%;
}
.full-app-image1{
  width: 200px;
  height: 500px;
}

.mobile-view-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.iphone-screen-image-container{
  position: absolute;
  top: 125px;
  right: 38px;
  overflow: hidden;


}
.iphone-screen-image{
  border-radius: 10px;
  height: 535px;
}
.feature-div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  /* align-items: center; */
  padding: 80px;
}
.my-card-2:hover{
  background-color: #ff004f;
  height: 100%;
  color: white;

}
.my-card-2:hover .text-content{
  color: white;
}
.my-card-2 h1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ---------- */
.hcgs-card{
  color: white;
  background-color: #17171A;
  border: none;
  padding: 25px;
  padding-top: 80px;
  text-align: start;
  transition: all 0.5s ease;
 
 

}

.hcgs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6),#ff0051);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.hcgs-card:hover .layer{
  height: 100%;
}
.link-box{
  color: white;
 
}
.input-tag{
  display: flex;
  align-items: center;

}
.input-field{
  padding: 11px;
  border: 1px solid grey;
  outline: none;
  background-color: #17171A;
  width: 50%;
  border-radius: 5px;
  font-size: 18px;

}
.feature-text{
  text-align: left;
}
/* -------- */
.logo-email{
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0px;
}
/* ----------- */
.copy-right-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}