 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish&display=swap');
 
:root{
  --theme:#2978ff;
  --black:#000;
  --white:#fff;
  --shadow:0px 0px 30px 8px rgba(227,227,227,0.75);
  --linear:linear-gradient(90deg, #dec880, #fff 27%, #ff3980 57%, #827ded);
    
  --background-color:white;
  --text-color:black;
  --card-background:white;
  --border:0;


}
body[data-theme = 'dark']{
  --background-color:black;
  --text-color:white;
  --shadow:#17171A;
  --card-background:#17171A;
  --border:1px soolid grey;
}
body{
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  
}
input{
  font-family: 'Montserrat', sans-serif;
} 
.nav-side{
  display:flex;
  width: 100%;
 
  
}
.side-bar2{
  width: 5%;
  position: relative;
  box-shadow: var(--shadow);
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-bar{
  width: 95%;
 
}
.my-trans{
  color: black;
}
.custom-input{
  border: none;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0rem;
  width: 100%;
  border-radius: 0;
}
.custom-input{
  margin-top: -1rem !important;
 
}

.custom-input::placeholder{
  color: rgba(0,0,0,0.5);
}
.custom-input:focus{
  outline: none;
  opacity: 1;
  transition: all 0.3s;
}

/* lading page---------------------------------- */

@media only screen and (max-width:412px){
  .nav-side{
   flex-direction: column;
   
  }
  .side-bar2{
    width: 100%;
  }
  
}