 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish&display=swap');
:root{
  --theme:#2978ff;
  --black:#000;
  --white:#fff;
  --shadow:0px 0px 30px 8px rgba(227,227,227,0.75);

}
body{
  margin: 0;
  
  font-family: 'Montserrat', sans-serif;
  
}
input{
  font-family: 'Montserrat', sans-serif;
} 

